html {
  box-sizing: border-box;
  font-family: 'Space Mono';
  text-align: center;
  background-color: #F3EDEB;
}

body {
  margin: 0;
}

h1 {
  font-size: 75px;
  font-weight: 700;
  color: Black;
  display: inline-block;
  width: 100%;
  transition:all 0.5s;
  margin-left: 0;
  margin-top: 0;
  margin-right: 50px;
  padding: 0;
}

h2 {
  font-weight: 400;
  display: inline-block;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 50px;
  
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding:50px;
}

img {
  max-width: 100%
}

.sandwich:hover {
  opacity: 0.5;
  transition:all 0.5s;
}

/* Flex Container */
.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

@media all and (max-width:500px) {
  html {
    text-align: center;
  }
  
  .flex-nav ul {
    flex-direction: column;
  }
  
  .flex-nav ul li {
    width: 100%;
  }
  
  .flex-nav ul .social {
    width: 100%;
  }
}