html {
  box-sizing: border-box;
  font-family: 'Space Mono';
  text-align: center;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Space Mono';
  font-size: 75px;
  color: Black;
  display: inline-block;
  width: 100%;
  transition:all 0.5s;
}

h2 {
  display: inline-block;
  width: 100%;
  margin: 0;
  
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding:50px;
}

img {
  max-width: 100%
}

li:hover {
  opacity: 0.5;
}

/* Flex Container */
.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-nav ul li {
  flex-grow: 3;
}

@media all and (max-width:500px) {
  .flex-nav ul {
    flex-direction: column;
  }
  
  .flex-nav ul li {
    width: 100%;
  }
  
  .flex-nav ul .social {
    width: 100%;
  }
}